<h1>Express Movie App</h1>

<h2>Search Movies</h2>
<form class="" action="/movieSearch" method="post">
  <input type="text" name="movieName" placeholder='Movie Title'>
  <button type="button" name="button">Search</button>
</form>
